.card-container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 100px;
}

.cart-summary {
  background-color: #c7bebe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item_cart-header {
  font-weight: bold;
  border-bottom: 2px solid #000000;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  border-bottom: 1px solid #000000;
  padding: 10px 0;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 30px;
}

.cart-item-details span {
  margin-right: 10px;
  color: black;

}

.total-price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: black;

}

/* Style for delete button */
.cart-item-details button {
  background-color: #ff6347; /* Red */
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  margin: 0px 13px;
}