/* itemList.css */

.item-list-container {
  display: flex; /* Change to flex */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Add space between items */
  padding: 20px; /* Add padding */
}

.grid-container {
  list-style-type: none;
  padding: 0;
  display: flex; /* Change to flex */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-between; /* Add space between items */
  width: 100%; /* Ensure full width */
}

.grid-item {
  flex: 0 0 calc(25% - 20px); /* Set item width to 25% with margin */
  margin-bottom: 20px; /* Add bottom margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity-container {
  margin-top: 10px;
}

.quantity-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #45a049;
}

.add-to-cart-btn, .checkout-btn {
  background-color: #2196F3;
  color: white;
  padding: 8px 20px; /* Increase padding */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin on top */
  transition: background-color 0.3s; /* Add transition effect */
}

.add-to-cart-btn:hover, .checkout-btn:hover {
  background-color: #0b7dda;
}
