.delete-button {
    padding: 10px 10px;
    background-color: #d8180a;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center  ;
    transition: background-color 0.3s ease;
    max-width: 150px;
    margin: 10px 0px;
  }
  
  .delete-button:hover {
    background-color: #7c1212;
  }
  
  .delete-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  